:host {
  position: fixed;
  bottom: 1rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: max-content;
  border-radius: 1rem;

  margin: 0 auto;
  padding: 0.5rem;

  background: var(--mat-sys-secondary-container);

  .label {
    font: var(--mat-sys-title-large);
    margin-bottom: 0.5rem;
    color: var(--mat-sys-on-secondary-container);
  }

  .button-group {
    .mat-button-toggle {
      background: var(--mat-sys-secondary);
      color: var(--mat-sys-on-secondary);

      &.mat-button-toggle-checked {
        background: var(--mat-sys-error);
        color: var(--mat-sys-on-error);
      }
    }
  }
}
