@use '../../common';

:host {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.daily {
  margin-top: 1rem;

  flex-grow: 1;

  @media (min-width: 768px) {
    width: 18%;

    margin: 1rem 0.5rem 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
