@use '../../../common';

$icon-size: 8rem;

.container {
  @extend .flex-row, .card;

  justify-content: space-between;

  .text-col {
    @extend .flex-col;

    .degrees {
      font: var(--mat-sys-display-large);
    }

    .cityname {
      font: var(--mat-sys-display-medium);
    }
  }

  .weather {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .condition {
      @extend .flex-col;
      align-items: center;

      .icon {
        width: $icon-size;
        height: $icon-size;

        margin: 0.2rem;
      }

      .label {
        font: var(--mat-sys-title-medium);
      }
    }
  }
}
