<div [appTestId]="TestIds.Host" class="container">
  <app-loading-overlay [enabled]="(store.loadingLocations$ | async)!">
    <app-city-search
      #searchComponent
      [appTestId]="TestIds.CitySearch.Host"
      [options]="(store.locations$ | async)!"
      [selected]="store.selectedLocation$ | async"
    >
    </app-city-search>
  </app-loading-overlay>
  <app-loading-overlay [enabled]="(store.loadingForecast$ | async)!">
    @if (store.forecastData$ | async; as data) {
      <app-weather-display [appTestId]="TestIds.WeatherDisplay.Host" [data]="data"></app-weather-display>
    }
  </app-loading-overlay>
</div>
<app-network-test></app-network-test>
