.bookmark-btn {
  border-radius: 50%;
  padding: 0.3rem;

  &:hover {
    background: var(--mat-sys-primary);
    fill: var(--mat-sys-on-primary);
  }
}

.coords {
  font: var(--mat-sys-label-medium);
}