<mat-form-field class="w-full">
  <mat-label>Search by City Name</mat-label>
  <input
    #input
    type="text"
    placeholder="Start typing to search for a city"
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    (input)="onInput($event)"
  />
  <mat-icon svgIcon="search" matPrefix></mat-icon>
  <mat-autocomplete
    requireSelection
    #auto="matAutocomplete"
    [displayWith]="displayLocation"
    (optionSelected)="onOptionSelect($event)"
    (closed)="dismissed.emit()"
  >
    @for (option of options; track trackLocation(option)) {
      <mat-option [value]="option">
        <div>{{ displayLocation(option) }}</div>
        <div style="font-size: 0.8rem">{{ displayCoords(option) }}</div>
        <mat-icon
          class="bookmark-btn"
          [svgIcon]="option.isBookmarked ? 'bookmark_star' : 'bookmark'"
          (click)="onBookmark($event, option)"
        ></mat-icon>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
