<div class="container">
  <div class="header">
    <div>{{ data.date | date: 'EE' }}</div>
    <div class="sub">{{ data.date | date: 'MMM d' }}</div>
  </div>
  <div class="vertical">
    <div>
      <b>{{ data.max | degrees }}</b>
    </div>
    <div>{{ data.min | degrees }}</div>
  </div>
  <div class="weather">
    <img class="weather-icon" [src]="iconSource(data.weather.icon)" [alt]="data.weather.description" />
    <div class="label">{{ data.weather.description | titlecase }}</div>
  </div>
</div>
